$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts";

$jumbotron-bg: black;
$jumbotron-color: white;
$navbar-height: 40px;
$navbar-inverse-bg: #1B1B1B;
$font-size-h3: 18px;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$red: #A11B26;

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// scalaio
$heading-font-family: 'Lato', sans-serif;

.navbar {
  .navbar-brand{
    font-weight: 200;
    font-size: 20px;
  }
}

.twitter-share-button {
  margin-left: 12px;
}

.jumbotron{
  text-align: center;
}
.headline {
  h1 {
    padding: 10px;
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

.container{
  .main_title{
    font-size: 100px;
    line-height:normal;
    color: #000;
    text-align:center;
  }
  .main_heading{
    font-size:30px;
    text-align: center;
    line-height:normal;
    color: #000
  }
  .main_text{
    font-size:30px;
    line-height:normal;
    color: #000
  }
  ul.main_heading{
    text-align: left;
  }
  .partner-platinum,.partner-heading  {
    text-align: center;
  }
  .partner-friends{
    float: left;
    margin-left: 20px;
    width: 220px;
    img{
      width: 200px;
      height: 200px;
    }
  }
  .tickets{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    text-align:center;
    align:center;
    iframe{
      width:100%;
      height: 475px;
    }
    .tickets_disclaimer{
      font-style: italic;
      font-size: 12px;
    }
  }
}
footer {
  width: auto;
  margin-top: 40px;
  margin-bottom: 0;
  color: #F2F2F2;
  border-top: 10px solid #000;
  background: #1A1A1A url("/assets/images/pattern-black.jpg");

  .base {
    padding-top: 15px;
    padding-bottom: 8px;
    border-top: 1px solid #292929;
    background: #000;
  }
  p{
    color: $gray-light;
    vertical-align: middle;
  }
  .copyright{
    padding-top: 8px;
  }
  .newsletter{
    color: $gray-light;
    vertical-align: middle;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .sponsors{
    background-color: #FFF;
    text-align: center;
  }
  .partner-platinum-logo {
    width: 400px;
    height: 200px;
    margin: 10px;
  }
}
.sponsors{
  margin-top: 20px;
  background-color: #FFF;
  text-align: center;
  .partner-platinum-logo {
    width: 400px;
    height: 200px;
    margin: 10px;
  }
  .partner-gold-logo-white {
    background-color: #FFF;
  }
  .partner-gold-logo {
    margin: 10px 0px;
    width: 200px;
    height: 100px;
  }
  .partner-platinum-logo-white {
    background-color: #FFF;
  }

}


table.sponsorhip {
  th {
    background-color: $gray-light;
  }
  td {
    width:15%;
    text-align: center;
  }
  .rowlabel{
    width:auto;
    text-align: left;
    vertical-align: middle;
  }
}
.speakers{
  @extend .container;
  img{
      width:100%;
      max-width:200px;
  }
  .speaker_bio{
      img{
        float:left;
        margin: 0 20px;
      }
      .bio p{
        text-align:justify;
        //overflow:hidden;
      }
      hr{
        margin-top:20px;
      }
  }
  p{
    text-align:center;
    padding-top: 10px;
    width: 100%;
  }
  hr{
    width: 100%;
    color: red;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
  }
  .speaker_row{
    @extend .row;
  }
  .speaker{
    @extend .col-sm-2;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1, h2, h3, h4, h5, em, strong, .call-to-action, .dropcap{
  font-family: $heading-font-family
}

span.red{
  color: $red;
}
.more{
  font-weight: bold;
  font-size: 50px;
}
