$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts";

$jumbotron-bg: black;
$jumbotron-color: white;
$navbar-height: 40px;
$navbar-inverse-bg: #1B1B1B;
$font-size-h3: 18px;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$red: #A11B26;

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// scalaio
$heading-font-family: 'Lato', sans-serif;

.navbar {
  .navbar-brand{
    font-weight: 200;
    font-size: 20px;
  }
}

.twitter-share-button {
  margin-left: 12px;
}

.jumbotron{
  text-align: center;
}
.headline {
  h1 {
    padding: 10px;
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

.container{
  .speaker-list-link{
    color: #000000;
  }
  .main_title{
    font-size: 50px;
    line-height:normal;
    color: #000;
    text-align:center;
  }
  .main_heading{
    font-size:30px;
    text-align: center;
    line-height:normal;
    color: #000;
    .maps-landing{
      @media (max-width: $screen-xs-max) {
        max-width: 450px;
        width:100%;
      }
      @media (min-width: $screen-sm-min) {
        min-width: 450px;
        width:50%;
      }
      margin-top: 10px;
      min-height: 450px;
    }
  }
  .main_text{
    font-size:30px;
    line-height:normal;
    color: #000
  }
  ul.main_heading{
    text-align: left;
  }
  .partners{
    .partner-platinum,.partner-heading,.partner-tshirt  {
      text-align: center;
    }
    .partners-friends{
      @extend .row;
    }
    .partner-friends{
      float: left;
      margin-left: 20px;
      width: 220px;
      img{
        width: 200px;
        height: 200px;
      }
    }
    .partner-ug{
      @extend .partner-friends;

      img{
        width: 150px;
        height: 150px;
      }
    }
    .partner-comm{
      @extend .partner-friends;
      img{
        width: 200px;
        height: 200px;
      }
    }

    .partners-silver{
      @extend .row;
      text-align: center;
      .partner-silver{
        @extend .col-md-6;
      }
    }
    .partners-gold{
      @extend .row;
      text-align: center;
      .partner-gold{
        @extend .col-md-6;
      }
    }
  }
  .tickets{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    text-align:center;
    align:center;

    .tickets_disclaimer{
      font-style: italic;
      font-size: 12px;
    }
  }
  .venue{
    .fa {
      font-size: larger;
      padding-right: 10px;
    }
    .access-instructions{
      text-align: justify;
    }
    .maps-venue{
      @media (max-width: $screen-xs-max) {
        width:100%;
        min-height: 450px;
        height: 450px;
      }
      @media (min-width: $screen-md-min) {
        width:($screen-md-min - 200)/2;
        min-height: 450px;
        height: 450px;
      }
    }
  }
}
footer {
  width: auto;
  margin-top: 40px;
  margin-bottom: 0;
  color: #F2F2F2;
  border-top: 10px solid #000;
  background: #1A1A1A url("/assets/images/pattern-black.jpg");

  .base {
    padding-top: 15px;
    padding-bottom: 8px;
    border-top: 1px solid #292929;
    background: #000;
  }
  p{
    color: $gray-light;
    vertical-align: middle;
  }
  .copyright{
    padding-top: 8px;
  }
  .newsletter{
    color: $gray-light;
    vertical-align: middle;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .sponsors{
    background-color: #FFF;
    text-align: center;
  }
  .partner-platinum-logo {
    width: 400px;
    height: 200px;
    margin: 10px;
  }
}
.sponsors{
  margin-top: 20px;
  background-color: #FFF;
  text-align: center;
  .partner-platinum-logo {
    width: 100%;
    max-width: 400px;
    max-height: 200px;
    margin: 10px;
  }

  .partner-gold-logo-white {
    background-color: #FFF;
  }
  .partner-gold-placeholder {
    .partner-gold-logo {
      margin-top:60px;
    }
    height: 200px;
  }
  .partner-gold-logo {
    margin: 0px 0px;
    width: 100%;
    max-width: 200px;
    max-height: 100px;
  }
  .partner-platinum-logo-white {
    background-color: #FFF;
  }

}
.sponsors2{
  display: flex;
  width:100%;
  @media (min-width: $screen-lg-min) {
    flex-direction: row;
  }
  @media (max-width: $screen-lg-min) {
    flex-direction: column;
    align-items: center;
  }
  .platinum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-grow: 1
    img{
      max-width: 400px;

    }
  }
  .gold {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-md-min) {
      flex-direction: row;        
      flex-wrap: wrap;
    }
    @media (max-width: $screen-md-min) {
      flex-direction: column;
    }
    
    img{
      @media (min-width: $screen-md-min) {
        max-width: 165px;
      }
      @media (max-width: $screen-md-min) {
          max-width: 200px;
      }
      margin: 0 10px;
    }     
  }  
}


table.sponsorhip {
  th {
    background-color: $gray-light;
  }
  td {
    width:15%;
    text-align: center;
  }
  .rowlabel{
    width:auto;
    text-align: left;
    vertical-align: middle;
  }
}
.talks{
  .row{
    padding-top: 20px;
  }
  .row:first-child{
    padding-top: 0px;
  }
  .talk-title{
    color:black;
  }
  .talk-anchor{
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
  }
  ul.talks{
     list-style-type: none;
     padding-left: 10px;
     margin-bottom: 0px;
    li.talk{
      background-repeat: no-repeat;
      background-position: 0 3px;
      padding-left: 30px;
      background-size: 20px 13px;

      h3{
        display: inline;
      }
      p.details{
        margin-left: 20px;
        .speaker:after{
          content:", "
        }
        .speaker:last-child:after{
          content:""
        }
      }
      p{
        text-align:justify;
      }
    }
  }
}
div.speakers{
  //@extend .container;
  img{
      width:100%;
      max-width:200px;
      max-height:200px;
  }
  .speaker_bio{
     @extend .col-md-12;
      span.details{
        font-weight: normal;
        font-size: smaller;
        font-style: italic;
      }
      h1 {
      }
      img.avatar{
        float:left;
        margin: 0 20px;
      }
      img.lang{
        width: 20px;
        margin-right: 10px;
        vertical-align: initial;
      }
      .bio p{
        text-align:justify;
        //overflow:hidden;
      }
      .bio:after{
        clear:both;
        content:'';
        display:block;
      };
      hr{
        margin-top:20px;
      }

  }
  .speaker_row{
    @extend .row;
    img{
        width:100%;
        max-width:132px;
        max-height:132px;
    }
  }
  .speaker{
    @extend .col-sm-2;
    opacity: 1;
    p.name{
      text-align:center;
      padding-top: 10px;
      width: 100%;
      min-height: 50px;
      margin-bottom: 0px;
    }
    hr{
      margin-top:0px;
    }
  }
  .speaker:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
ul.talks{
   list-style-type: none;
   padding-left: 10px;
   margin-bottom: 0px;
  li.talk{
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 30px;
    background-size: 20px 13px;

    h3{
      display: inline;
    }
    p.details{
      margin-left: 20px;
      .speaker:after{
        content:", "
      }
      .speaker:last-child:after{
        content:""
      }
    }
    p{
      text-align:justify;
    }
  }
}

  hr{
    width: 100%;
    color: red;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,0.75), rgba(0,0,0,0));
  }

}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1, h2, h3, h4, h5, em, strong, .call-to-action, .dropcap{
  font-family: $heading-font-family
}

span.red{
  color: $red;
}
.more{
  font-weight: bold;
  font-size: 50px;
}
