<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/all.min.css">

  </head>
  <body id="home" data-spy="scroll" data-target="#primary-nav">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
       <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Scala.<span class="red">IO</span></a>
    </div>
      <div id="primary-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/venue.html">Venue</a></li>
<!--           <li><a href="./events.html">Talks</a></li> -->
<!--           <li><a href="./schedule.html">Schedule</a></li> -->
<!--           <li><a href="./speakers.html">Speakers</a></li> -->
           <li><a href="/partners.html">Partners</a></li>
<!--           <li><a href="./sponsors_word.html">Partners Interviews</a></li> -->
<!--           <li><a href="./tickets.html">Tickets</a></li> -->
          <li><a href="/cfp.html">CFP</a></li>
<!--           <li><a href="./faq.html">F.A.Q.</a></li> -->
           <li><a href="/sponsorship.html">Sponsorship</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/2013">Scala.<span class="red">IO</span> 2013</a></li>
      </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 headline">

          <img src="/assets/images/logos/scalaio/scalaio_medium.png" alt="Scala.IO logo" />
          <h1>The Scala event in Paris! </h1>
          <h2 class="teaser-subtitle"><span class="teaser-subtitle-text">October 23th and 24th, 2014. Paris, France</span><a href="https://twitter.com/share" class="twitter-share-button" data-via="ScalaIO_FR" data-size="large" data-count="none"><span class="tsb1">Tweet</span></a></h2>
          <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          </script>
        </div><!--/span12-->
      </div><!--/row-->
    </div><!--/container-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {{ content }}
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>Social Networks</h3>
          <ul>
            <li><a href="https://twitter.com/ScalaIO_FR" title="" class="social-footer-link"><i class="icon-twitter"></i> Twitter</a></li>
            <li><a href="https://plus.google.com/107460043818092638551" title="" class="social-footer-link"><i class="icon-google-plus"></i> Google+</a></li>
          </ul>
        </div>
        <div class="col-md-6 sponsors">
          <a href="/sponsorship.html"><img class="partner-platinum-logo" src="./assets/images/partners/platinum/undefined.png"></a>
        </div>
        <div class="col-md-2">
          <img class="partner-gold-logo partner-gold-logo-white" src="./assets/images/partners/gold/logo-ebiznext.png">
          <a href="/sponsorship.html"><img class="partner-gold-logo" src="./assets/images/partners/gold/undefined.png"></a>
        </div><div class="col-md-2">
          <a href="/sponsorship.html"><img class="partner-gold-logo " src="./assets/images/partners/gold/undefined.png"></a>
          <a href="/sponsorship.html"><img class="partner-gold-logo " src="./assets/images/partners/gold/undefined.png"></a>
        </div>
        <script type="text/javascript" src="/js/mailchimp.js"></script>
      </div><!--/row-->
    </div> <!-- /container -->
    <div class="base">
      <div class="container">
        <div class="row">
          <div class="col-md-3 copyright">
            <p>Scala.<span class="red">IO</span> conference, All Rights Reserved.</p>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <form action="http://scala.us7.list-manage.com/subscribe/post?u=d1e91c63df589371ca4d8a48e&amp;id=8ea1a2ab18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <label for="email" class="newsletter">Subscribe to our newsletter</label>
                <input type="email" value="" name="EMAIL" class="required email form-control" style="display:inline; width:50%" id="mce-EMAIL">
                <input class="btn btn-danger" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
            </form>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- base -->
  </footer>
  <script src="/js/vendor.js"></script>
  </body>
</html>
