@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* variables */
:root {
  --scala-io-red: #BC1321;
  --max-width: 1170px;
  --half-max-width: 585px;
}

/* Setup */
html{
  min-height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  min-height: 100vh;
  font-size: 100%;
  font-family: Montserrat, sans-serif;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1 {
  font-size: 2rem;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5rem;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3rem;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

/* commons */

.red {
  color: var(--scala-io-red);
}

/* header */
.header {
  color: white;
  background-color: black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.header img{
  width: 65%;
}
.header h1{
  margin-top: 0;
  padding-top: 0;
}
.header .teaser{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 0;

}
.header .teaser .twitter-share-button{
  margin-left: 0.1em;
}
.header .teaser .twitter-share-button .tsb1{
  font-size: 0.5em;
}
@media (min-width: 43.75em) {
  .header img{
    width: 50%;
  }
}

/* main */
content {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  align-self: center;
}
content.index{
  align-items: center;
  font-size: 1.8rem;
  padding: 0 5px;
}

content div{
  max-width: var(--max-width);
}

/* sponsors */

sponsors{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

sponsors .gold{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

sponsors .platinum{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

sponsors .platinum img{
  display: flex;
  overflow: hidden;
  width: 99vw;
  max-width: 600px;
}

sponsors .gold a{
  margin-left:  5px;
  margin-right:  5px;
}

sponsors .gold img{
  display: flex;
  width: 66vw;
  max-width: 300px;
}

/* footer */
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 0 5px;
}

footer .social{
  width: 50%;
  max-width: var(--half-max-width);
}
footer .social a{
  color: #428bca;
  text-decoration: none;
}

footer .newsletter{
  width: 50%;
  text-align: right;
  max-width: var(--half-max-width);
}

copyright{
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
copyright p {
  width: 100%;
  max-width: var(--max-width);
}
