@import "/assets/css/bootstrap/bootstrap.less";
@import "/assets/css/bootstrap/responsive.less";

body {
    background: #F2F2F2;
}
/********************************************************
      Header
********************************************************/
.twitter-share-button{
  margin-left: 12px; 
}
.teaser-subtitle{
  margin-top: 10px;
}
.teaser-subtitle-text{
  display: inline-block;
  position: relative;
  top: -6px;
}
/********************************************************
      Sponsorship
********************************************************/
.table .tablehead{
  background-color: #dddddd;
}
.table th,.table td {
  text-align:center;
}
.table .rowlabel{
  text-align: left;
}
.table .tablesub{
  font-weight: bold;
  text-align: left;
  background-color: #dddddd;
  /*background-color: #dbd8d4;*/
}
footer .parner-gold-logo{
  width: 200px;
  height: 100px;
  margin: 10px;
}
footer .parner-gold-logo-white{
  background-color:white
}
/********************************************************
      public transportation
********************************************************/

i.icon-ok{
  background-image: url("../images/glyphicons/png/glyphicons_206_ok_2.png");
}
span.m13{
  background-color: #88D3DF;
}
span.bus54{
  background-color: #89C7D6;
}
span.RERC{
  background-color:  #F2C71C; 
}
span.RERE{
  background-color:   #D17FB5;
}

.google-map{
  width: 100%;
}

/********************************************************
      speakers
********************************************************/
.speaker img {
    width: 100%;
}

.speaker-page img {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}

.speaker-page .speaker-talks {
    clear: left;
}

/********************************************************
      partners
********************************************************/

.partner-gold {
    .makeColumn(8, 4);
}

.partner-silver {
    .makeColumn(4, 2);
}

.partner-friends {
    .makeColumn(3, 0);
}

.partner-media {
    .makeColumn(3, 0);
}

.partner-host {
    .makeColumn(3, 0);
}

.partner-mecene {
    .makeColumn(3, 0);
}

/********************************************************
      footer
********************************************************/

footer a.social-footer-link:visited{
  color: #FFF;
}

/********************************************************
      schedule
********************************************************/
.fc-header-title h2{
  padding-top: 15px;
  background: none;
}


/********************************************************
      cfp lightning iframe
********************************************************/

iframe.lightning {
    width: 720px;
    height: 939px;
    overflow-y: hidden;
    margin: 0 auto;
    display:block;
    frameborder: 0;
    background-color: #F2F2F2;
}
