<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Scala.IO conference | Paris</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/all.css">

        <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/font-awesome-ie7.css">
        <script src="js/html5-3.4-respond-1.1.0.min.js"></script>
        <![endif]-->

    </head>
    <body id="home" data-spy="scroll" data-target="#primary-nav">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</a>
                    <a class="brand" href="/">Scala.IO</a>
                    <div id="primary-nav" class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/venue.html">Venue</a></li>
                            <li><a href="/partners.html">Partners</a></li>
                            <li><a href="/tickets.html">Tickets</a></li>
                            <li><a href="/faq.html">F.A.Q.</a></li>
                            <li><a href="/cfp.html">CFP</a></li>
                            <li><a href="/sponsorship.html">Sponsorship</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/container-->
    </div><!--/navbar-inner-->
  </div><!--/navbar-->
    
  <div class="teaser">
    <div class="container">
      <div class="row">
        <div class="span12 headline">

          <img src="/assets/images/logos/scalaio.png" alt="Scala.IO logo"/>
          <h1>The Scala and FPL friendly event in Paris ! </h1>
          <h2>October 24th and 25th, 2013. Paris, France </h2>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="ScalaIO_FR" data-size="large" data-count="none"><span class="tsb1">Tweet</span></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div><!--/span12-->
      </div><!--/row-->      
    </div><!--/container-->
  </div>
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span10">
      $body$
      </div><!--/span12-->
      <div class="span1"></div>
    </div><!--/row-->      
  </div><!--/container-->
  <footer>
    <div class="container">
      <div class="row">

        <div class="span2">
          <h3>Social Networks</h3>
          <ul>
            <li><a href="https://twitter.com/ScalaIO_FR" title=""><i class="icon-twitter"></i> Twitter</a></li>
            <li><a href="https://plus.google.com/107460043818092638551" title=""><i class="icon-google-plus"></i> Google+</a></li>
          </ul>
        </div>

        <div class="span4">
          <h3>Newsletter</h3>
          <p>Subscribe to our newsletter and be the first to know about our news !</p>
          <!-- Begin MailChimp Signup Form -->
          <form action="http://scala.us7.list-manage.com/subscribe/post?u=d1e91c63df589371ca4d8a48e&amp;id=8ea1a2ab18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div class="controls mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
            <div class="input-append">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <input class="btn btn-red" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          </div>
          </form>
        </div>


        <script type="text/javascript" src="/js/mailchimp.js"></script>
      </div><!--/row-->
    </div> <!-- /container -->
    <div class="base">
      <div class="container">
        <p>Scala.IO conference, All Rights Reserved.</p>
      </div>
    </div>
  </footer>
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-1.8.2.min.js"><\/script>')</script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
