<h1>$title$</h1>


$body$
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class="talk-info">
    <h3>More info</h3>
    <p>Event type: <strong>$type$</strong></p>
    <!--
    <p>Location: <strong>$location$</strong></p>
    <p>Date / Time: <strong>$short_start$</strong></p>
     <p><a href="$gcal_url$" target="_blank">Add Event in my Google Calendar</a></p> 
     -->
</div>


<div class="extra">
<h2><em>Speakers</em></h2>

<ul class="thumbnails">
$speakers$
</ul>

<h2><em>Track</em></h2>
$topicBlock$


</div>

