<h1>$title$</h1>


$body$

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="yo!!" data-via="ScalaIO_FR" data-hashtags="scalaio">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="talk-info">
    <h3>More info</h3>
    <p>Event type: <strong>$richtype$</strong></p>
    <p>Language: <img border="0" width="20" style="padding-left:10px;padding-bottom:5px;margin-bottom:0;margin-right=0;float:none" src="/assets/images/country/$language$.svg"/></p>
    <p>Location: <strong>$location$</strong></p>
    <p>Date / Time: <strong>$short_start$</strong></p>
    <p><a href="$gcal_url$" target="_blank">Add Event in my Google Calendar</a></p>
</div>


<div class="extra">
<h2><em>Speakers</em></h2>

<p>
$speakers$
</p>

<h2><em>Track</em></h2>
$topicBlock$


</div>

